.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

button #rock {
  max-height: 100px;
  max-width: 100px;
  background-size: cover;
}

#paper {
  max-height: 100px;
  max-width: 100px;
  background-size: cover;
}

#scissors {
  max-height: 100px;
  max-width: 100px;
  background-size: cover;
}

input {
  max-width: 100px;
  max-height: 100px;
}
body {
  background: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.player {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.computer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.results {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
}
img {
  max-width: 100px;
  max-height: 100px;
}
body {
  font-family: "ITC Avant Garde Gothic Std";
}
.score {
  width: 300px;
  height: 100px;
  background-color: gray;
  opacity: 0.9;
}
#result {
  width: 300px;
  height: 100px;
  background-color: gray;
  opacity: 0.9;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.playing {
  transform: scale(1.4);
  border: 2px solid gold;
  border-radius: 18px;
  box-shadow: 0 0 10px gold;
  transition: all 3s;
}

.choices:hover {
  border: 2px solid gold;
  border-radius: 18px;
  box-shadow: 0 0 10px gold;
}
